@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-200;
}

.profile_form,
textarea {
  @apply bg-gray-100 rounded w-full block py-2 px-2 mb-4;
}

.profile_form:focus {
  @apply outline-2 outline-purple-500;
}

.input_label {
  @apply capitalize text-gray-500/80 font-semibold ml-[2px];
}

.radio-togglers {
  @apply inline-flex space-x-2;
}

.radio-togglers div {
  @apply bg-white p-2 px-2 block cursor-pointer flex items-center gap-2 text-gray-800;
}

.radio-togglers input[type="radio"] {
  @apply hidden;
}

.radio-togglers input[type="radio"]:checked + div {
  @apply bg-purple-500 text-white;
}

.sortable-ghost {
  opacity: 0.3;
}

input#navCb:checked ~ aside {
  display: block;
  left: 0;
}

input#navCb:checked ~ .backdrop {
  display: block;
}
